{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diag.css') }}" />
{% endblock %}

{% block content %}
    <div class="container">
        <form method="get" action="{{ url_for('get_diag') }}">
            <input type="text" id="target" name="target" size="50" maxlength="30" placeholder="ホスト名を入力してください(部分一致可)" required>
            <button type="submit" class="btn btn-outline-secondary w-50px" id="action" type="button" style="width: 126px;">実行</button>
        </form>
    </div>
    <br><br>

    <div id="hover_line">default message</div>

    <div id="draw_area" class="container">
        <svg viewBox="0 0 1000 1000">

            <!-- {% for hostA, hostA_if, hostB, hostB_if in neighbor_list %} -->
                <!-- <rect /> -->
            <!-- {% endfor %} -->

            <!-- <rect x="50" y="20" width="150" height="50" /> -->
            <!-- x=rect_x+rect_width/2, y=rect_y+rect_height/2 -->
            <!-- <text x="125" y="45" dominant-baseline="central">hogehoge</text>
            <rect x="300" y="20" width="150" height="50" />
            <text x="375" y="45" dominant-baseline="central">fugafuga</text>
            <line id="hogehoge_fugafuga" class="line" x1="200" y1="45" x2="300" y2="45" /> -->


            <!-- cx:x座標, cy:y座標 ,r:半径 -->
            <!-- cx=rect_x+rect_width+1, cy=rect_height/2 -->
            <!-- 左の接点 -->


            <!-- <circle cx="201" cy="45" r="2" /> -->


            <!-- 右の接点 -->


            <!-- <circle cx="299" cy="45" r="2" /> -->


            <!-- <line id="hogehoge_fugafuga" class="line" x1="200" y1="45" x2="300" y2="45"
                onmouseover="mouseover();" onmouseout="mouseout();" /> -->
        </svg>
    </div>

     <div id="test">
        <!-- {% for hostA, hostA_if, hostB, hostB_if in neighbor_list %} -->
            <!-- <p>{{ hostA }}, {{ hostB }}</p> -->
        <!-- {% endfor %} -->

        {%- set x = 50 %}
        {%- for i in range(10) %}
            <p>{{ x * i }}</p>
        {%- endfor %}
    </div>

{% endblock %}
{% block foot %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/diag.js') }}"></script>
{% endblock %}